<%- include("partials/header") -%>


<div class="row about-me-row">
  <div class="col-lg-6 col-sm-12">
  <img  class="profile-photo" src="/images/LinkedIn-Profile-Photo-Canva-1.png" alt="profile-photo">
  </div>

  <div class="col-lg-6 col-sm-12">
    <h1>About Me</h1>
    <p><%= aboutContentEjs %></p>
  </div>
</div>



<%- include("partials/footer") -%>
