<%- include("partials/header") -%>

<h1>Contact Me</h1>
<p><%= contactContentEjs %></p>

<p class="contact-me">Find me on <a href="https://www.linkedin.com/in/rouvendaunke/">LinkedIn</a></p>
<p class="contact-me">Find me on <a href="https://github.com/rouven-d">Github</a></p>



<%- include("partials/footer") -%>
